
body{
    padding: 0px;
    margin: 0px;
}
#wrapper {


}
#header {
 width: 100%;
}

#nav {
	background:black;
	
}
#content {
    text-align: center;


}

.container{
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

.gallImg{
    max-width: 200px;
}

#introcontent {
    background: black;
    
}

#introwrapper {
    background-color:black;
}

#introimg {
    
    max-width:100%;
    height:auto;
    
}

#pabout{
    font-size: 2.5em;
    font-weight: bold;
    color: black;

}
#footer {
	background-color: black;
	color: white;
	width:100%;
	height:50px;
    text-align: center;
    line-height: 50px;
   	
	padding-bottom: 10px;
	bottom:0;
	left:0;
	margin-top:10px;
}

#img-head {

	width: 100%
}

content #img-trans {
    margin: 0;
    position: absolute;
/*    top: 50%;
    left: 50%;*/
    margin-right: -50%;
    transform: translate(-50%, -50%) }


p {
	color: grey;
    font-size: 16px;
    font-family: Clarendon Condensed;
    
}
figure{
    margin: 0px;
    text-align: center;
}
.clear{
    clear: both;
}
nav a:link, nav a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s background-color;
    transition: .6s color;
    margin: 10px;
}

a img{
    width: 20%;
}

nav a:hover,nav a:active {
    background-color: white;
    color: black;
}

li {  
    display: inline-block;
}

ol {
    text-align: center;
}

#video {
    margin: 100px auto;
}